<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Actividades y Experiencias</title>
    <meta name="keywords" content="Refugios de Montaña, Patagonia Argentina, Vacaciones en Patagonia, Trekking en Patagonia">
    <meta name="description" content="Refugios de Montaña, Refugios de Montania, Refugios de Montana">
    <link rel="icon" type="image/png" sizes="16x16" href="img/Logo-Ico/RefugiosDeMontania-Ico.ico">
    <link rel="stylesheet" href="css/actividades.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Chivo:ital,wght@0,100..900;1,100..900&family=Inter:wght@100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Radio+Canada+Big:ital,wght@0,400..700;1,400..700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">



</head>

<body>
    <header>
        <div class="menu container">
            <a href="index.html" class="logo">
                <img src="img/ico/RefugiosDeMontania-Logo.png" alt="Logo" class="logo-svg">
            </a>
            <input type="checkbox" id="menu">
            <label for="menu">
                <img src="img/menu.png" class="menu-icono" alt="">
            </label>
            <div class="navbar">
                <ul>
                    <li><a href="refugios.html">Refugios</a></li>
                    <li><a href="actividades.html">Actividades y Experiencias</a></li>
                    <li><a href="nosotros.html">Sobre Nosotros</a></li>
                    <li><a href="login.html">Login <img src="img/Refugios-HOME/login2.png" style="height: 30px" alt="Imagen Login"></a></li>
                </ul>
            
            </div>
        </div>

        <div class="video-container">
            <video autoplay muted loop class="background-video">
                <source src="img/Refugios-ACTIVIDADES/1476955_People_Nature_1920x1080(1).mp4" type="video/mp4">
                Tu navegador no soporta video HTML5.
            </video>
        </div>

        <div class="header-content container">
            <div class="header-txt">
                <h1>Actividades <span class="contorno"> Todo el Año</span> </h1>
                <h3>Sumérgete en la aventura y descubre la majestuosidad de la Patagonia Argentina</h3>

                <p>Recorre la región y vive una una experiencia increible, guiado por profesionales y conociendo paisajes más alla de tu imaginación. Grupos reducidos y con profesionales altamente capacitados en las zonas andinas.</p>
                <a href="#inicio_pag" class="btn-1">Mas info</a>
            </div>
        </div>
    </header>


<!--Codigo corregido arriba, tu codigo abajo-->


<section id="inicio_pag">
    
    <h2>Elige tu aventura y viaja con nosotros</h2>
    
    <div class="contenedor dos-columnas">
        
        <article>
            
            <div class="entrada">
                <img src="img/Refugios-ACTIVIDADES/Ascensión-Cerro-Tronador-Patagonia-refugio-actividad.jpg" alt="Ascensión al Cerro Tronador">
                <h3>Experiencia 1</h3>
                <p>Experiencia 1: Ascensión al Cerro Tronador - 3 días</p>
                <a href="#">Reservar</a>
                </div>
                
                <div class="titulo">
                    <h3>Un desafio incomparable</h3>
                    <p>Con la experiencia "Ascension al Cerro Tronador" vas a vivir momentos inolvidables y te aseguramos una experiencia única e irrepetible.</p>
                </div>

                <div class="diass">
                    <ol>
                        <li class="dias">Día 1:<span class="fa fa-chevron-down" aria-hidden="true"></span></li>
                        <ul class="lista-a">
                            <li>8:00: Reunión en el Refugio base Cerro Tronador (2150 msnm).</li>
                            <li>9:00: Inicio de la caminata hacia el Refugio Otto Meiling (2400 msnm). Duracion: 4 horas.</li>
                            <li>13:00: Almuerzo en el Refugio Otto Meiling. </li>
                            <li>14:00: Charla informativa sobre seguridad en montaña y primeros auxilios. </li>
                            <li>15:00: Tiempo libre para descansar, explorar los alrededores del refugio o realizar actividades opcionales como escalada en roca o rappel.</li>
                                <li>20:00: Cena en el refugio. Fogón y tiempo para compartir experiencias</li>
                            </ul>
                        <li class="dias">Día 2:<span class="fa fa-chevron-down" aria-hidden="true"></span></li>
                            <ul class="lista-a">
                                <li>8:00: Desayuno en el refugio.</li>
                                <li>9:00: Ascensión al Ventisquero Negro (3000 msnm). Duración: 5 horas. </li>
                                <li>14:00: Almuerzo en el Ventisquero Negro.</li>
                                <li>15:00: Regreso al refugio Otto Meiling. Duración: 3 horas.</li>
                                <li>18:00: Charla sobre flora y fauna de la Patagonia.</li>
                                <li>20:00: Cena en el refugio.</li>
                            </ul>
                        <li class="dias">Día 3:<span class="fa fa-chevron-down" aria-hidden="true"></span></li>
                            <ul class="lista-a">
                                <li>5:00: Desayuno en el refugio.</li>
                                <li>6:00: Ascensión al Pico Tronador (3478 msnm). Duración: 8 horas.</li>
                                <li>14:00: Cumbre del Cerro Tronador. Almuerzo y descanso. </li>
                                <li>15:00: Descenso al Refugio otto Meiling. Duración: 4 horas. </li>
                                <li>19:00: Cena en el Refugio Otto Meiling.</li>
                                <li>20:00: Despedida del grupo y regreso a la base del Cerro Tronador.</li>
                            </ul>
                        <li class="dias">Coordinadores:<span class="fa fa-chevron-down" aria-hidden="true"></span></li>
                            <ul class="lista-a">
                                <li>Guía de montaña con experiencia en la zona.</li>
                                <li>Instructor de primeros auxilios.</li>
                                <li>Cocinero/a</li>
                            </ul>
                            <li class="dias">Ayuda y asistencia:<span class="fa fa-chevron-down" aria-hidden="true"></span></li>
                            <ul class="lista-a">
                                <li>Radio VHF para comunicación con el Refugio Base y otros refugios de la zona.</li>
                                <li>Kit de primeros auxilios.</li>
                                <li>Camilla para evacuación en caso de emergencia.</li>
                            </ul>
                            <li class="dias">Equipo recomendado:<span class="fa fa-chevron-down" aria-hidden="true"></span></li>
                            <ul class="lista-a">
                                <li>Mochila de 40-50 litros.</li>
                                <li>Ropa de abrigo e impermeable.</li>
                                <li>Botas de trekking.</li>
                                <li>Gorro, guantes y anteojos de sol.</li>
                                <li>Protector solar.</li>
                                <li>Botella de agua y snacks.</li>
                            </ul>
                    </ol>
                    <div class="boton">
                        <p>Nota: Este itinerario es solo una referencia y puede varias según las condiciones climáticas y el estado físico del grupo.</p>
                        <a href="#">Reservar</a>
                    </div>

                </div>
                
            </article>
            
            <article>

                <div class="entrada">
                    <img src="img/Refugios-ACTIVIDADES/Travesia-Valle-de-los-Lagos-El-Bolson-Patagonia-Argentina.jpg" alt="Travesía al Valle de los Lagos">
                    <h3>Experiencia 2</h3>
                    <p>Experiencia 2: Travesía al Valle de los Lagos  - 3 días</p>
                    <a href="#">Reservar</a>
                </div>
                
                <div class="titulo">
                    <h3>Paisaje de ensueño</h3>
                    <p>Con nuestro viaje "Paisaje de ensueño" tendrás asegurado unas vistas magnificas y preciosas en todo el trayecto.</p>
                </div>

                <div class="diass">
                    <ol>
                        <li class="dias">Día 1:<span class="fa fa-chevron-down" aria-hidden="true"></span></li>
                        <ul class="lista-a">
                            <li>8:00: Reunión en la Hostería El Pilar (El Bolsón). Presentación del equipo de guías y coordinadores.</li>
                            <li>9:00: Traslado en vehículo hasta el Lago Puelo (1600msnm).</li>
                            <li>10:00: Inicio de la caminata hacia el Refugio Lago Escondido (1900msnm) Duración: 4 horas. </li>
                            <li>14:00: Almuerto en el Refugio Lago Escondido.</li>
                            <li>15:00: Tiempo libre para descansar, disfrutar del lago o realizar actividades opcionales como kayak o pesca.</li>
                                <li>20:00: Cena en el refugio. Fogón y tiempo para compartir experiencias</li>
                            </ul>
                            <li class="dias">Día 2:<span class="fa fa-chevron-down" aria-hidden="true"></span></li>
                            <ul class="lista-a">
                                <li>8:00: Desayuno en el refugio.</li>
                                <li>9:00: Travesía al Valle de los Lagos. Duración: 6 horas.</li>
                                <li>15:00: Almuerzo en el Valle de los Lagos.</li>
                                <li>16:00: Visita al Lago Verde, Lago Azul y Laguna de los Cóndores.</li>
                                <li>18:00: Regreso al Refugio Lago Escondido. Duración: 3 horas.</li>
                                <li>20:00: Cena en el refugio.</li>
                            </ul>
                            <li class="dias">Día 3:<span class="fa fa-chevron-down" aria-hidden="true"></span></li>
                            <ul class="lista-a">
                                <li>8:00: Desayuno en el refugio.</li>
                                <li>9:00: Regreso al Lago Puelo. Duración: 3 horas.</li>
                                <li>12:00: Almuerzo en el Lago Puelo.</li>
                                <li>14:00: Traslado en vehículo a la Hostería El Pilar.</li>
                            </ul>
                        <li class="dias">Coordinadores:<span class="fa fa-chevron-down" aria-hidden="true"></span></li>
                            <ul class="lista-a">
                                <li>Guía de montaña con experiencia en la zona.</li>
                                <li>Instructor de primeros auxilios.</li>
                                <li>Cocinero/a</li>
                            </ul>
                            <li class="dias">Ayuda y asistencia:<span class="fa fa-chevron-down" aria-hidden="true"></span></li>
                            <ul class="lista-a">
                                <li>Radio VHF para comunicación con el Refugio Base y otros refugios de la zona.</li>
                                <li>Kit de primeros auxilios.</li>
                                <li>Camilla para evacuación en caso de emergencia.</li>
                            </ul>
                            <li class="dias">Equipo recomendado:<span class="fa fa-chevron-down" aria-hidden="true"></span></li>
                            <ul class="lista-a">
                                <li>Mochila de 40-50 litros.</li>
                                <li>Ropa de abrigo e impermeable.</li>
                                <li>Botas de trekking.</li>
                                <li>Gorro, guantes y anteojos de sol.</li>
                                <li>Protector solar.</li>
                                <li>Botella de agua y snacks.</li>
                            </ul>
                        </ol>
                    <div class="boton">
                        <p>Nota: Este itinerario es solo una referencia y puede varias según las condiciones climáticas y el estado físico del grupo.</p>
                        <a href="#">Reservar</a>
                    </div>
                </div>
                
            </article>

            <article>
                <div class="recomendaciones">
                    <div class="imagenreco"></div>
                    <h3>Recomendaciones</h3>
                    <p>Recomendamos leer el siguiente documento el cual trae nuestras recomendaciones para que tu viaje se disfrute al 100%.</p>
                    <a href="utils/Que llevar a la montaña.pdf" download="Recomendaciones.pdf">Descargar</a>
                </div>
            </article>

            <article>
                <div class="recomendaciones">
                    <div class="imagenreco1"></div>
                    <h3>Recomendaciones</h3>
                    <p>El siguiente archivo trae un mapa con todos los refugios cercanos.</p>
                    <a href="utils/Mapa Refugios.pdf" download="Mapa-refugios.pdf">Descargar</a>
                </div>
            </article>
        </div>
    </section>
    
</body>

<footer>
    <div class="footer-info">
      <div class="footer-logo">
        <a href="#TOP-nosotros">
        <img class="img-footer-logo" src="img/Logo-Ico/RefugiosDeMontania-Logo-black.png" alt="Refugios de Montaña Logo">
        </a>
      </div>
      <div class="footer-links">
        <div class="footer-list">
          <p class="CommonLabel">Refugios</p>
          <a class="a-especial" href="nosotros.html">Sobre Nosotros</a> 
          <a class="a-especial" href="refugios.html">Listado Refugios</a> 
          <a class="a-especial" href="nosotros.html#UNITE-A-NOSOTROS">Trabaja con Nosotros</a> 
          <a class="a-especial" href="nosotros.html#NOSOTROS-CONTACTO">Contacto</a>
        </div>
        <div class="footer-list">
          <p class="CommonLabel">Trayectos</p>
          <a class="a-especial" href="actividades.html">Caminatas</a> 
          <a class="a-especial" href="refugios.html">Hospedajes</a> 
          <a class="a-especial" href="actividades.html">Guías</a> 
        </div>
        <div class="footer-list">
          <div class="DatosPag">
            <p class="CommonLabel">Refugios de Montaña</p>
            <p>Avenida Bolsón 1434</p>
            <p>Ciudad de Bolsón</p>
            <p>Argentina</p>
            <a class="a-especial" href="#">info@refugiosbolson.com.ar</a>
          </div>
          <div class="redes-sociales">
            <a href="https://www.linkedin.com/feed/" target="_blank"><i class="bi bi-linkedin"></i></a>
            <a href="https://x.com/?lang=es" target="_blank"><i class="bi bi-twitter-x"></i></a>
            <a href="https://www.instagram.com/accounts/login/?next=https%3A%2F%2Fabout.instagram.com%2Fes-la" target="_blank"><i class="bi bi-instagram"></i></a>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <div class="derechos">
      <p>© Copyright 2024 <b>Grupo 12</b> Codo a Codo</p>
    </div>
</footer>
<script src="js/desplegable.js"></script>
</html>
