<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre Nosotros</title>
    <meta name="keywords" content="Refugios de Montaña, Patagonia Argentina, Vacaciones en Patagonia, Trekking en Patagonia">
    <meta name="description" content="Refugios de Montaña, Refugios de Montania, Refugios de Montana">
    <link rel="icon" type="image/png" sizes="16x16" href="img/Logo-Ico/RefugiosDeMontania-Ico.ico">
    <link rel="stylesheet" href="css/nosotros.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Chivo:ital,wght@0,100..900;1,100..900&family=Inter:wght@100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Radio+Canada+Big:ital,wght@0,400..700;1,400..700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

    <meta http-equiv="refresh" content="30"> <!--   borrar para la entrega este renglon -->

</head>

<body>

  <header>
    <div class="menu container">
        <a href="index.html" class="logo">
            <img src="img//Logo-Ico/RefugiosDeMontania-Logo.png" alt="Logo" class="logo-svg">
        </a>
        <input type="checkbox" id="menu">
        <label for="menu">
            <img src="img/menu.png" class="menu-icono" alt="">
        </label>
        <div class="navbar">
            <ul>
                <li><a href="refugios.html">Refugios</a></li>
                <li><a href="actividades.html">Actividades y Experiencias</a></li>
                <li><a href="nosotros.html">Sobre Nosotros</a></li>
                <li><a href="login.html">Login <img src="img/Refugios-HOME/login2.png" style="height: 30px" alt="RefugiosDeMontania-Logo"></a></li>
            </ul>
        </div>
    </div>

  </header>
  <section id="HERO-NOSOTROS">
    <div class="banner" id="TOP-nosotros">
      <div class="banner-description">
        <div class="header-txt">
          <h1>Sobre <span class="contorno">Nosotros</span> </h1>
          <h3 class="videoText">Un grupo de amigos compartiendo una aventura desde 1990</h3>
          <span class="subtitulo">Desde el año 1990, embarcamos esta hermosa travesía, conociendo como nadie la zona, refaccionando refugios y preparando todo para tu próxima aventura.
          </span>
        <a href="index.html" class="btn-1">Conocenos</a>
      </div>
    </div>
    
  </div>
  
</section>
<section id="NUESTRO-EQUIPO">
  <div class="Titulo-Busquedas-Refugios">
    <H2 class="titulo">Únete a la experiencia de vivir en plena naturaleza</H2>
  </div>  
  <div class="session3-card">
    <div class="card-group">     
      <div class="card">
        <img src="img/Refugios-NOSOTROS/Apasionada-por-la-Montana-Ana-Refugio-de-Montana.jpg" class="card-img-top" alt="...">
        <div class="card-content">
          <div class="card-title">
            <h4>Lucía, la aventurera apasionada</h4>
          </div>
          <p class="card-text">Lucía encuentra en los refugios de montaña de Bariloche el escenario perfecto para satisfacer su sed de aventura. Siempre lista para explorar nuevos senderos y disfrutar de la naturaleza en su máximo esplendor.</p>
        </div>
      </div>
      
      <div class="card">
        <img src="img/Refugios-NOSOTROS/Compromiso-con-el-Medio-Ambiente-Joaco-Refugio-de-Montana.jpg" class="card-img-top" alt="...">
        <div class="card-content">
          <div class="card-title">
            <h4>Juan, el amante de la tranquilidad</h4>
          </div>
          <p class="card-text">Juan busca en los refugios de montaña de Bariloche un refugio de paz y tranquilidad lejos del bullicio de la ciudad. Para él, no hay nada como disfrutar de la serenidad de las montañas y desconectar del mundo exterior.</p>
        </div>
      </div>
      
      <div class="card">
        <img src="img/Refugios-NOSOTROS/Refugios-de-Montana-Patagonia-Argentina-Proyecto-Tefi.jpg" class="card-img-top" alt="...">
        <div class="card-content">
          <div class="card-title">
            <h4>Sofía, buscadora de experiencias únicas</h4>
          </div>
          <p class="card-text">Sofía ve en los refugios de montaña de Bariloche la oportunidad de vivir experiencias auténticas y fuera de lo común. Siempre está en busca de nuevas emociones y momentos memorables en contacto con la naturaleza.</p>
        </div>
      </div>
      <div class="card">
        <img src="img/Refugios-NOSOTROS/Mas-de-15-Anios-de-Experiencia-en-Refugios-de-Montana-Nacho.jpg" class="card-img-top" alt="...">
        <div class="card-content">
          <div class="card-title">
            <h4>Martín, el fotógrafo enamorado del paisaje</h4></div>
            <p class="card-text">Martín encuentra en los refugios de montaña de Bariloche la inspiración perfecta para capturar la belleza del paisaje patagónico con su cámara. Cada visita es una oportunidad para inmortalizar momentos únicos y paisajes impresionantes.</p>
          </div>
        </div>
      </div>
      
    </div>
  </section>

  <section id="NUESTRA-EXP
  ERIENCIA">
  <div class="banner-2">
      <div class="banner-description">
        <div class="header-txt">
          <H2 class="titulo">Nuestra experiencia</H2>
          <span class="subtitulo">
            Juntos, Ana, Joaco, Tefi y Nacho forman un equipo multifacético y apasionado por la Patagonia. Su trabajo conjunto ha dado como resultado este sitio web, una herramienta invaluable para los amantes de la naturaleza y la aventura que buscan explorar los rincones más bellos de la región.
          </span>
        </div>
      </div>
      
    </div>  
    
    <div class="card-group">
      
      <div class="card">
        <img src="img/Refugios-NOSOTROS/Refugios-de-Montana-Experiencia-Patagonia-Juan.jpg" class="card-img-top" alt="...">
        <div class="card-content">
          <div class="card-title">
            <h4>Juan, 48 años</h4>
          </div>
          <p class="card-text-2">Un hombre de 48 años con una pasión innata por la montaña, encuentra en los refugios de montaña un refugio de paz y serenidad en medio de la naturaleza. Con cada excursión, Juan revive la emoción de sus primeros días de montañismo, explorando senderos familiares y descubriendo nuevos horizontes. Su experiencia y sabiduría se reflejan en cada paso que da, mientras disfruta del silencio de las cumbres y la belleza de los paisajes que lo rodean. Para Juan, los refugios de montaña son mucho más que simplemente lugares de descanso; son espacios donde encuentra la renovación del espíritu y la conexión con lo esencial.</p>
        </div>
      </div>
      
      <div class="card">
        <img src="img/Refugios-NOSOTROS/refugios-patagonia-two-women-50-years-old-are-traveling-trekking-mountains-healthy-lifestyle.jpg" class="card-img-top" alt="...">
        <div class="card-content">
          <div class="card-title">
            <h4>Sofía y Carmen</h4>
          </div>
          <p class="card-text-2">Sofía y Carmen, dos mujeres llenas de vida y amor, encuentran en los refugios de montaña un santuario donde pueden ser ellas mismas y celebrar su conexión especial. Sofía, audaz y aventurera, guía a Carmen, serena y encantadora, por senderos sinuosos y paisajes majestuosos, compartiendo risas, conversaciones profundas y momentos de ternura bajo el cielo estrellado. Juntas, disfrutan de la serenidad de la naturaleza, la calidez de las fogatas al atardecer y la alegría de compartir su amor en un entorno mágico y acogedor.</p>
        </div>
      </div>
    </div>
  </section>
  <section id="UNITE-A-NOSOTROS">
    <div class="tercerasec">
      <H2 class="titulo-3">Unite a nuestro equipo de colaboradores</H2>
      <h4 class="segundoTit">Sé parte de una comunidad apasionada por la aventura y la naturaleza!</h4>
      <div class="subtitulo-dark-small">
        <p>
          Con nuestro equipo de colaboradores, tendrás la oportunidad de compartir tus conocimientos, experiencias y amor por los refugios de montaña. 
          Ya seas un entusiasta del senderismo, un amante de la fotografía de paisajes o un experto en actividades al aire libre, 
          hay un lugar para ti en nuestra familia. 
          Juntos, exploraremos trayectos increíbles, compartiremos momentos inolvidables y 
          contribuiremos a preservar la belleza natural de la región.
        </p>
        <h4 class="segundoTit naranja">¡Únete a nosotros y sé parte de algo extraordinario!</h4>
        <div>
          <a href="NOSOTROS-CONTACTO" class="btn-1">Escríbenos</a>
        </div>
      </div>

      </div>
      
      
    </section>
<!-- FORMULARIO DE CONTACTO -->
<section id="REFUGIOS-CONTACTO" class="Contactanos">
  
  <div class="contactanos">
    <div class="contenedorform">
        <div class="partizq">
            <h2>Contáctanos</h2>
            <p><strong>Únete a la comunidad y recibe toda <br>la info sobre las fechas y actividades</strong></p>
            <p>¿Tienes alguna pregunta, comentario o sugerencia? No dudes en ponerte en contacto con nosotros. Estamos aquí para ayudarte en todo lo que necesites.</p>
            <p><strong>Te esperamos!!</strong></p>
        </div>
        <div class="partder">
            <div class="row p-1">

                <div class="col-md-6">
                    <div class="form-group">
                        <input type="text" class="form-control custom-bg filled-text-color" id="nombre" placeholder="Nombre">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <input type="text" class="form-control custom-bg filled-text-color" id="apellido" placeholder="Apellido">
                    </div>
                </div>

            </div>
            <div class="row p-1">

                <div class="col-md-6">
                    <div class="form-group">
                        <input type="text" class="form-control custom-bg filled-text-color" id="email" placeholder="Email">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <input type="text" class="form-control custom-bg filled-text-color" id="telefono" placeholder="Teléfono">
                    </div>
                </div>

            </div>
            <div class="row p-1">
                <div class="col">
                    <input type="text" class="form-control custom-bg filled-text-color" id="asunto" placeholder="Asunto" aria-label="First name">
                </div>
            </div>
            <div class="row p-1">
                <div class="col">
                    <textarea class="form-control custom-bg filled-text-color" placeholder="¡Hola! Me gustará más información acerca de..." id="mensaje" rows="3"></textarea>
                </div>
            </div>
            <div class="row p-1" style="margin-left: 0px;margin-right: 0px;">
              <div class="row p-1">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                    Acepto compartir mis datos
                    </label>
                </div>
            </div>


                <a href="#" class="btn-1" id="enviarFormulario">Enviar</a>
            </div>
        </div>
        
    </div>
</div>

</section>

<footer>
    <div class="footer-info">
      <div class="footer-logo">
        <a href="#TOP-nosotros">
          <img class="img-footer-logo" src="img/Logo-Ico/RefugiosDeMontania-Logo-black.png" alt="Refugios de Montaña Logo">
        </a>
      </div>
      <div class="footer-links">
        <div class="footer-list">
          <p class="CommonLabel">Refugios</p>
          <a class="a-especial" href="nosotros.html">Sobre Nosotros</a> 
          <a class="a-especial" href="refugios.html">Listado Refugios</a> 
          <a class="a-especial" href="nosotros.html#UNITE-A-NOSOTROS">Trabaja con Nosotros</a> 
          <a class="a-especial" href="nosotros.html#NOSOTROS-CONTACTO">Contacto</a>
        </div>
        <div class="footer-list">
          <p class="CommonLabel">Trayectos</p>
          <a class="a-especial" href="actividades.html">Caminatas</a> 
          <a class="a-especial" href="refugios.html">Hospedajes</a> 
          <a class="a-especial" href="actividades.html">Guías</a> 
        </div>
        <div class="footer-list">
          <div class="DatosPag">
            <p class="CommonLabel">Refugios de Montaña</p>
            <p>Avenida Bolsón 1434</p>
            <p>Ciudad de Bolsón</p>
            <p>Argentina</p>
            <a class="a-especial" href="#">info@refugiosbolson.com.ar</a>
          </div>
          <div class="redes-sociales">
            <a href="https://www.linkedin.com/feed/" target="_blank"><i class="bi bi-linkedin"></i></a>
            <a href="https://x.com/?lang=es" target="_blank"><i class="bi bi-twitter-x"></i></a>
            <a href="https://www.instagram.com/accounts/login/?next=https%3A%2F%2Fabout.instagram.com%2Fes-la" target="_blank"><i class="bi bi-instagram"></i></a>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <div class="derechos">
      <p>© Copyright 2024 <b>Grupo 12</b> Codo a Codo</p>
    </div>
</footer>

<script src="js/form.js"></script>
</body>
</html>


















