@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Inter", sans-serif; 
}

header {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    position: relative;
    align-items: center;
}

.video-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}

.background-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: #273749;
    z-index: 1000;
}

.menu a {
    text-decoration: none;
}


.logo {
    color: #FF7C20;
    margin-left: 10px;
    display: flex;
    align-items: center;
    height: 50px;
}

.menu .navbar ul li {
    position: relative;
    float: left;
}

.menu .navbar ul li a{
    font-size: 18px;
    padding: 10px;
    color: #ffffff;
    display: block;
    font-weight: bold;
}

.menu .navbar ul li a:hover{
    color: #FF7C20;
    font-weight: bold;
}


#menu {
    display: none;
}

.menu-icono {
    width: 35px;
}

.menu label {
    cursor:  pointer;
    display: none;
}



.header-txt{
    position: relative; /* Establecer la posición relativa para permitir el posicionamiento absoluto del botón */
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Establecer la altura para que ocupe toda la pantalla */
}

.header-txt h1{
    font-size: 100px;
    text-align: center;
    font-size: 6vw;
    text-transform: uppercase;
    color: #ffffff;
    margin-bottom: 25px;
    align-items: center;
}

.header-txt h3{
    text-align: center;
    text-transform: uppercase;
    color:#FF7C20;
    margin-bottom: 25px;
    align-items: center;
}

.header-txt .contorno{
    color: transparent; /* Hacer el texto transparente para que solo se vea el contorno */
    -webkit-text-stroke: 2px rgb(255, 255, 255); /* Añadir un contorno de 2px en negro */
    font-size: 6vw;
    text-transform: uppercase;
    font-family: "Arial", sans-serif; 
}

.header-txt p{
    font-size: 18px;
    color: #ffffff;
    font-weight: 500;
    margin-bottom: 25px;
    text-align: center;
}

.btn-1{
    padding: 13px 20px;
    border-radius: 25px;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #FF7C20;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    font-family: "Roboto Condensed", sans-serif;


}


.btn-1:hover {
    background-color: #714626;
}

.images {
    width: 800px;
    height: 380px;
    position: absolute;
    right: 0;
}



@media(max-width:1023px) {
    .menu {
        padding: 30px ;
    }
    .menu label {
        display: initial;
    }
    .menu .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #3f3f3f48;
        backdrop-filter: blur(5px);
        display: none;
    }
    .menu .navbar ul li {
        width: 100%;
    }

    #menu:checked ~ .navbar{
        display: initial;
    }

    .icons {
        display: none;
    }

    .header {
        padding: 80px 30px 50px 30px;
        align-items: self-start;
        flex-direction: column;
        align-items: center;
    }

    .header-txt {
        text-align: center;
        width: 100%;
        margin-top: 90px;
        margin-bottom: 30px;
    }
    .header-txt h1 {
        margin-bottom: 10px;
    }
    .images {
        position: initial;
        width: 300px;
        height: 300px;
    }

}
/* ACA ARRANCA TU CODIGO, LO ANTERIOR ES EL MENU, Y LO RESPONSIVE */


section h2{
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: center;
    font-size: 45px;
}
section img{
    max-width: 95%;
    height: 540px;
}

.contenedor{
    max-width: 1600px;
    width: 100%;
    margin: auto
}

.entrada{
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.entrada h3{
    position: absolute;
    margin-bottom: 4rem;
    color: rgb(255, 255, 255);
    font-size: 2rem;
    text-transform: uppercase;
}

.entrada p{
    position: absolute;
    margin-top: 8rem;
    color: rgb(255, 255, 255);
    font-size: 1.2rem;
    text-transform: uppercase;
}

.entrada a{
    position: absolute;
    margin-top: 16rem;
    justify-content: center;
    background-color: orange;
    padding: 12px 30px;
    border-radius: 7px;
}

.entrada a:hover{
    background-color: rgb(225, 154, 22)
}

.entrada a:visited{
    color: #ffffff;
}

.titulo{
    margin-top: 3rem;
    text-align: center;
}

.titulo h3{
    font-size: 35px;
    color: rgb(75, 75, 75);
}

.titulo p{
    margin-top: 1.5rem;
    font-size: 18px;
    color: rgb(75,75,75);
}

.diass{
    display: flex;
    flex-direction: column;
}

.diass .dias{
    margin-top: 15px;
    margin-bottom: 12px;
}

.diass ol li.dias{
    list-style-type: none;
    margin-top: 1rem;
    font-size: 22px;
    font-weight: 700;
}

.lista-a li{
    list-style-type: disc;
    margin-bottom: 1rem;
    margin-left: 2rem;
    font-weight: 500;
}

.lista-a li::marker{
    color: orange;
}

.diass a{
    text-align: center;
    text-transform: uppercase;
background-color: orange;
padding: 12px 30px;
border-radius: 9px;
-webkit-text-fill-color: rgb(255, 255, 255);
box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

.boton{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-top: 2rem;
}

.boton p{
    text-align: left;
    margin-bottom: 1.2rem;
}

.lista-a{
    display: none;
}

.lista-a.abierto{
    display: block;
}


.fa-chevron-down{
    margin-left: 10px;
    color: orange;
}

.recomendaciones{
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 10rem;
}

.recomendaciones a{
    position: absolute;
    margin-top: 20rem;
    justify-content: center;
    background-color: orange;
    padding: 12px 30px;
    border-radius: 7px;
}

.recomendaciones a:visited{
    color: #ffffff;
}

.recomendaciones h3{
    position: absolute;
    margin-bottom: 8rem;
    color: rgb(255, 255, 255);
    font-size: 2rem;
    text-transform: uppercase;
}

.recomendaciones p{
    position: absolute;
    max-width: 500px;
    margin-top: 6rem;
    color: rgb(255, 255, 255);
}

.imagenreco{
    width: 703px;
    height: 540px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.8)),url(../img/Refugios-ACTIVIDADES/Recomendaciones-caminatas-trekking-escaladas-Patagonia-Argentina.jpg);
    background-position: center;
    background-size: cover;}
    
    .imagenreco1{
        width: 703px;
        height: 540px;
        background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.8)), url(../img/Refugios-ACTIVIDADES/mapa-refugios.jpg);
        background-position: center;
        background-size: cover;}
        
        @media (min-width: 480px) {
            .dos-columnas {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                column-gap: 3rem;
            }
        }
        
        @media(max-width:1023px) {
            .menu {
                padding: 30px ;
            }
            .menu label {
                display: initial;
            }
    .menu .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #3f3f3f48;
        backdrop-filter: blur(5px);
        display: none;
    }
    .menu .navbar ul li {
        width: 100%;
    }
    
    #menu:checked ~ .navbar{
        display: initial;
    }
    
    .icons {
        display: none;
    }
    
    .t-center{
        padding: 80px 30px 50px 30px;
        align-items: self-start;
        flex-direction: column;
        align-items: center;
    }
    
    .t-center p{
        text-align: center;
        width: 100%;
        margin-bottom: 30px;
    }
    h1{
        margin-bottom: 10px;
    }
    img{
        position: initial;
        width: 300px;
        height: 300px;
    }
    
}

/*FOOTER*/
.a-especial {
    color: #c0c0c0;
    text-decoration: none;
    }

.footer-info {
    display: flex;
    justify-content: space-between;
    height: 160px;
    margin-top: 70px;
    margin-bottom: 40px;

}

.footer-logo {
    width: 100px;
    margin-left: 50px;
    margin-bottom: 24px;
}

.footer-links {
    display: flex;
    justify-content: space-evenly;
    margin-left: 50px;  
}

.footer-list {
    display: flex;
    flex-direction: column;
    padding-right: 100px;
    justify-content: flex-start;
    margin-bottom: 24px;
    align-content: space-evenly;

}

.footer-list :hover {
    color: #FF9E5A;
}

.CommonLabel{
    color: #FF9E5A;

}
.img-footer-logo {
    height: 40px;

}

.redes-sociales {
    margin-top: 24px;
    margin-right: 20px;
    margin-bottom: 24px;
    color: #FF9E5A;

}
.redes-sociales :hover {
    color: #273749;

}

.bi :hover {
    color: #273749;
}

.bi {
    color: #FF7C20;
    margin-right: 20px;
}
